<tr height="<%= @height %>px">
  <th
    id="22770290R229"
    style="height: 20px"
    class="row-headers-background"
  >
    <div class="row-header-wrapper" style="line-height: 20px">
      230
    </div>
  </th>
  <td class="s10"></td>
  <td class="s11" dir="ltr"><%= @state %></td>
  <td class="s12" dir="ltr"><%= @types %></td>
  <td class="s14" dir="ltr"><%= @topics %></td>
  <td class="s17" dir="ltr">
    <a target="_blank" href="<%= @link %>"><%= @title %></a>
  </td>
  <td class="s14" dir="ltr"><%= @credits %></td>
  <td class="s18" dir="ltr"><%= @price %></td>
  <td class="s0"></td>
  <td class="s0"></td>
  <td class="s0"></td>
  <td class="s0"></td>
  <td class="s0"></td>
  <td class="s0"></td>
  <td class="s0"></td>
  <td class="s0"></td>
  <td class="s0"></td>
  <td class="s0"></td>
  <td class="s0"></td>
  <td class="s0"></td>
  <td class="s0"></td>
  <td class="s0"></td>
  <td class="s0"></td>
  <td class="s0"></td>
  <td class="s0"></td>
  <td class="s0"></td>
  <td class="s0"></td>
  <td class="s0"></td>
</tr>
